<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/web_layout}">


<th:block layout:fragment="content">
<div class="border rounded text-center px-2 mt-2 mb-3"
	style="background-color: #fafafa; font-size: 0.85rem; padding-top: 0.9rem; padding-bottom: 1.0rem;">
		<div class="mb-2">
			<a href="/web/permit/service/list?boardGubun=proposal" class="me-2 text-dark text-decoration-none" th:classappend="${param.boardGubun.contains('proposal')} ? ' active' : ''">건의&문의</a> |
		    <a href="/web/permit/faq/list?boardGubun=faq" class="me-2 text-dark text-decoration-none" th:classappend="${param.boardGubun.contains('faq')} ? ' active' : ''">자주묻는 질문</a> |
		    <a href="/web/permit/service/list?boardGubun=partner" class="mx-2 text-dark text-decoration-none" th:classappend="${param.boardGubun.contains('partner')} ? ' active' : ''">제휴문의</a> |
		    <a href="/web/permit/service/list?boardGubun=complain" class="mx-2 text-dark text-decoration-none" th:classappend="${param.boardGubun.contains('complain')} ? ' active' : ''">신고하기</a>
		</div>
	</div>

<div class="mt-5">
	<h3>❓ 자주 묻는 질문 (FAQ)</h3>
	<div class="accordion" id="faqAccordion">
		<div class="accordion-item" th:each="data,stat : ${list}">
			<h2 class="accordion-header" th:id="'faqHeading' + ${stat.index}">
				<button class="accordion-button collapsed" type="button"
					data-bs-toggle="collapse" th:data-bs-target="'#faqCollapse'+${stat.index}" th:text="${data.title}">
				</button>
			</h2>
			<div th:id="'faqCollapse'+${stat.index}" class="accordion-collapse collapse"
				data-bs-parent="#faqAccordion">
				<div class="accordion-body" th:utext="${data.content ?: ''}"></div>
			</div>
		</div>

	</div>
</div>


<form id="dataForm" method="post">
<input type="hidden" name="page" id="page" th:value="${param.page}" />
<input type="hidden" name="boardGubun" th:value="${param.boardGubun}">
<input type="hidden" name="boardSeq" id="boardSeq" />
</form>
</th:block>
<th:block layout:fragment="script">
<script>
function checkWrite(){
    let isLoggedIn = [[${session.loginUser != null}]];
    if (isLoggedIn) {
    	changeView("/web/board/saveForm");
    } else {
        alert("로그인후 이용가능합니다.");
    }
}
function changeView(val,id){
	$("#boardSeq").val(id);
	$("#dataForm").attr("action",val);
	$("#dataForm").submit();
}
function goList(page){
	$("#page").val(page);
	$("#dataForm").attr("action","list");
	$("#dataForm").submit();
}
 </script>
</th:block>