<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/admin_layout}">

<th:block layout:fragment="css">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="script">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
<script>
$(document).ready(function() {
    $('#summernote').summernote({
    	height:150
    });
	$("#reg_dtm").datepicker({
        dateFormat: "yy-mm-dd", // 날짜 포맷 (선택 사항)
        changeMonth: true,     // 월 변경 가능
        changeYear: true,      // 년도 변경 가능
        dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"], // 요일 이름 (축약형)
        monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"], // 월 이름 (축약형)
        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"], // 월 이름 (전체)
    	firstDay: 0,
    	showMonthAfterYear: false,
    	yearSuffix: "년",
    	showMonthAfterYear: false,
    	yearSuffix: "년",
      });
	const today = $.datepicker.formatDate('yy-mm-dd', new Date());
	$("#reg_dtm").val(today);

	$('#frm').on('submit', function (e) {
	    e.preventDefault();

	    const form = document.getElementById('frm');
	    const formData = new FormData(form);
	    $.ajax({
            url: "/admin/board/save",
            type: "POST",
            data: formData,
            success: function(response) {
                alert("저장 성공!");
                changeView("list");
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
	}); //~ajax
});
function changeView(val){
	$("#dataForm").attr("action",val);
	$("#dataForm").submit();
}
</script>
</th:block>
<th:block layout:fragment="content">
<form id="dataForm">
<input type="hidden" name="page" th:value="${param.page}">
<input type="hidden" name="searchTitle" th:value="${param.searchTitle}">
<input type="hidden" name="searchPartner" th:value="${param.searchPartner}">
<input type="hidden" name="searchSido" th:value="${param.searchSido}">
</form>
<form id="frm" >
<input type="hidden" name="page" th:value="${param.page}">
<input type="hidden" name="searchTitle" th:value="${param.searchTitle}">
<input type="hidden" name="searchPartner" th:value="${param.searchPartner}">
<input type="hidden" name="searchSido" th:value="${param.searchSido}">
<input type="hidden" name="board_gubun" value="noice">
 <div id="view-write" >
   <div class="card">
     <div class="card-header">게시글 작성</div>
     <div class="card-body">
         <div class="mb-3">
           <label for="title" class="form-label">제목</label>
           <input type="text" class="form-control" name="title" required>
         </div>
         <div class="mb-3">
           <label for="title" class="form-label">필독여부</label>
           <select name="mustRead" class="form-control">
           		<option value="0">아니요</option>
           		<option value="1">예</option>
           </select>
         </div>
         <div class="mb-3">
           <label for="content" class="form-label">내용</label>
           <textarea class="form-control" name="content" rows="10"></textarea>
         </div>
         <button type="submit" class="btn btn-primary">등록</button>
         <button type="button" class="btn btn-secondary" onclick="changeView('list')">취소</button>
     </div>
   </div>
 </div>
 </form>
</th:block>