<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/web_layout}">


<th:block layout:fragment="content">
<div class="border rounded text-center px-2 mt-2 mb-3"
     style="background-color: #fafafa; font-size: 0.85rem; padding-top: 0.9rem; padding-bottom: 1.0rem;">
  <div class="mb-2">
    <a href="list?boardGubun=free" class="mx-2 text-dark text-decoration-none" th:classappend="${param.boardGubun.contains('free')} ? ' active' : ''">자유게시판</a> |
    <a href="list?boardGubun=qna" class="me-2 text-dark text-decoration-none" th:classappend="${param.boardGubun.contains('qna')} ? ' active' : ''">질문&답변</a> |
    <a href="list?boardGubun=review" class="mx-2 text-dark text-decoration-none" th:classappend="${param.boardGubun.contains('review')} ? ' active' : ''">이용후기</a>
  </div>
</div>

    <div class="boards">
  <div class="board">
    <div class="board-header">
    </div>

    <div class="mb-3">
      <h4 style="font-size: 1.1rem; font-weight: bold;" th:text="${data.title}">🍰아이스크림( 카톡 ice4477 )🍦 인기매니저 보유...</h4>
      <div class="post-meta">
        <span class="author" th:text="${data.nickname+' · '+data.createDt}">슈퍼맨 · 05/08</span>
        <span class="stats" th:text="${'조회 '+data.searchCnt+' · 추천 '+data.likeCnt}">조회 52 · 추천 1</span>
      </div>
    </div>

    <div class="mb-4" style="white-space: pre-wrap; font-size: 0.95rem; line-height: 1.6;" th:utext="${data.content ?: ''}">
      아이스크림( 카톡 ice4477 ) 인기매니저 보유... <br>
      다양한 역할대행 서비스 제공 중입니다.<br>
      프라이버시 100% 보장, 빠른 매칭 보장합니다.<br>
      문의주세요!
    </div>

    <div class="mb-4 d-flex justify-content-between align-items-center">
	  <div>
	    <button class="btn btn-outline-danger btn-sm" id="likeBtn" th:if="${session.loginUser?.userSeq}">
	      ❤️ 추천 <span id="likeCount" th:text="${data.likeCnt}">1</span>
	    </button>
	  </div>
	  <div>
	  <span th:if="${session.loginUser?.userSeq}">
	    <button class="btn btn-sm btn-outline-primary me-2" onclick="changeView('/web/board/saveForm')" th:if="${session.loginUser.userSeq==data.userSeq}">수정</button>
	    <button class="btn btn-sm btn-outline-danger" th:if="${session.loginUser.userSeq==data.userSeq}">삭제</button>
	  </span><span>
	    <button class="btn btn-sm btn-outline-primary me-2" onclick="changeView('/web/permit/board/list')">목록</button>
	   <th:block th:if="${session.loginUser?.userSeq}">
		<button class="btn btn-sm btn-outline-secondary" onclick="openReportModal()">
		  🚨
		</button>
	   </th:block>
	   </span>
	  </div>
	</div>

    <hr>

    <div class="mb-3">
      <h5 style="font-size: 1rem;">💬 댓글 (<th:block th:text="${commentCount}"/>)</h5>
    </div>
	<form id="commentFrm" class="mb-4" th:if="${session.loginUser?.userSeq}">
	<input type="hidden" name="boardSeq" th:value="${data.boardSeq}" />
      <textarea class="form-control mb-2" rows="2" name="content" id="content"  placeholder="댓글을 입력하세요" required></textarea>
      <div class="text-end">
        <button type="submit" class="btn btn-sm btn-primary">등록</button>
      </div>
    </form>
    <div class="mb-3" style="font-size: 0.9rem;" id="commentList">
      <div class="border rounded p-2 mb-2" th:each="comment : ${commentList}" th:style="'margin-left: ' + ${comment.depth * 10} + 'px;'" th:classappend="${comment.depth>0} ? 'bg-white' : 'bg-light'">
      	<div style="margin-bottom:5px;">
	        <span th:text="${comment.depth>0}? |⤷${comment.nickname}| : ${comment.nickname}" style="font-size: 0.80rem;font-weight: bold;">홍길동</span> ·
	        <span th:text="${comment.createDtm}" style="font-size: 0.85rem;">05/08</span><br>
        </div>
        <div th:utext="${comment.content}">정말 좋은 정보 감사합니다!</div>
        <div th:if="${session.loginUser?.userSeq}">
		    <a href="javascript:void(0)" class="comment-action" th:onclick="'replyComment(' + ${comment.commentSeq} + ',this)'">답글</a>
		    <a href="#" class="comment-action comment-delete" th:onclick="'deleteComment(' + ${comment.commentSeq} + ')'" th:if="${session.loginUser.userSeq==data.userSeq}">삭제</a>
		</div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel" style="font-size: 0.9rem;font-weight: bold;">이 게시글에 어떤 문제가 있나요?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="complainContent" rows="3" placeholder="신고 사유를 입력해주세요."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-danger" id="saveComplain">신고하기</button>
            </div>
        </div>
    </div>
</div>
<form id="dataForm" method="post">
<input type="hidden" name="page" id="page" th:value="${param.page}" />
<input type="hidden" name="boardGubun" th:value="${param.boardGubun}">
<input type="hidden" name="boardSeq" id="boardSeq" th:value="${param.boardSeq}"/>
<input type="hidden" name="uuid" th:value="${data.uuid}">
<input type="hidden" name="parentSeq" id="parentSeq">
</form>
</th:block>
<th:block layout:fragment="script">
<script>
function changeView(val){
	$("#dataForm").attr("action",val);
	$("#dataForm").submit();
}

$(document).ready(function() {
	$('#likeBtn').click(function () {
	    let formData = $("#dataForm").serialize();
		$.ajax({
	        url: "/web/updateLikeCnt",
	        data : formData,
	        type: "POST",
	        success: function(res) {
	        	console.log(">>>res:"+res);
	        	if(res ==0){
	        		alert("추천 되었습니다.");
		        	let cnt = Number($("#likeCount").html());
		        	$("#likeCount").html(cnt+1);
	        	}else{
	        		alert("이미 추천 하셨습니다.");
	        	}
	        },
	        error: function(response) {
	        }
	    });
	 });
	$('#saveComplain').click(function () {
		let formData = $("#dataForm").serialize();
		formData += "&content="+$("#complainContent").val();
		$.ajax({
	        url: "/web/saveComplain",
	        data : formData,
	        type: "POST",
	        success: function(res) {
	        	if(res ==0){
		        	alert("신고 되었습니다.");
	        	}else{
	        		alert("이미 신고 하셨습니다.");
	        		$("#complainContent").val('');
	        	}
	        	myModal.hide();
	        },
	        error: function(response) {
	        }
	    });
	 });
	$('#commentFrm').on('submit', function (e) {
	    e.preventDefault();
	    sessionStorage.setItem('scrollPosition', $(window).scrollTop());
	    $.ajax({
	        type: 'POST',
	        url: '/web/board/insertBoardComment',  // Spring 컨트롤러 URL
	        data: $(this).serialize(), // name 속성 기반으로 전송
	        success: function(res) {
	        	location.reload();
	        },
	        error: function(xhr) {
	          alert('전송 실패: ' + xhr.responseText);
	        }
	   	});
	}); //~ajax
});
var myModal;
function openReportModal() {
  myModal = new bootstrap.Modal(document.getElementById('reportModal'));
  myModal.show();
}
function deleteComment(seq){
	if(!confirm("삭제 하시겠습니까?"))return;
	$.ajax({
        url: "/web/deleteBoardComment",
        data : "commentSeq="+seq,
        type: "POST",
        success: function(res) {
        	location.reload();
        },
        error: function(response) {
        }
    });
}
 </script>
</th:block>