<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/web_layout}">


<th:block layout:fragment="content">
<div class="border rounded text-center px-2 mt-2 mb-3"
     style="background-color: #fafafa; font-size: 0.85rem; padding-top: 0.9rem; padding-bottom: 1.0rem;">
  <div class="mb-2">
    <a href="list?webSearchSido=서울특별시,인천광역시,경기도" class="me-2 text-dark text-decoration-none" th:classappend="${param.webSearchSido.contains('서울특별시,인천광역시,경기도')} ? ' active' : ''">서울/인천/경기</a> |
    <a href="list?webSearchSido=대전광역시,세종특별자치시,충청북도,충청남도" class="mx-2 text-dark text-decoration-none" th:classappend="${param.webSearchSido.contains('대전광역시,세종특별자치시,충청북도,충청남도')} ? ' active' : ''">대전/세종/충청</a> |
    <a href="list?webSearchSido=대구광역시,경상북도" class="mx-2 text-dark text-decoration-none" th:classappend="${param.webSearchSido.contains('대구광역시,경상북도')} ? ' active' : ''">대구/경북</a>
  </div>
  <div>
    <a href="list?webSearchSido=광주광역시,전라북도,전라남도" class="me-2 text-dark text-decoration-none" th:classappend="${param.webSearchSido.contains('광주광역시,전라북도,전라남도')} ? ' active' : ''">광주/전라</a> |
    <a href="list?webSearchSido=부산광역시,울산광역시,경상남도" class="mx-2 text-dark text-decoration-none" th:classappend="${param.webSearchSido.contains('부산광역시,울산광역시,경상남도')} ? ' active' : ''">부산/울산/경남</a> |
    <a href="list?webSearchSido=제주특별자치도,강원특별자치도" class="mx-2 text-dark text-decoration-none" th:classappend="${param.webSearchSido.contains('제주특별자치도,강원특별자치도')} ? ' active' : ''">제주/강원</a>
  </div>
</div>


<div class="tab-container">
	<div class="tab-buttons">
		<button class="tab-button active" onclick="openTab(event, 'massage')">여성전용
			마사지</button>
		<button class="tab-button" onclick="openTab(event, 'event')">이벤트</button>
	</div>

	<div class="tab-content">
		<div id="massage" class="tab-panel active">
			<div class="products">
				<div class="product" th:each="data,stat : ${list}">
					<div class="product-img-container">
						<img th:src="${data.imgPath}"
							th:onclick="'changeView(\'/web/permit/advertisement/view\',\'' + ${data.advertisementNid} + '\')'"
							style="cursor: pointer;">
					</div>
					<h3 th:text="${data.storeName}"></h3>
				</div>
			</div>
		</div>

		<div id="event" class="tab-panel">
			<div class="products">
				<div class="product" th:each="data,stat : ${eventList}">
					<div class="product-img-container">
						<img th:src="${data.imgPath}"
							th:onclick="'changeView(\'/web/permit/advertisement/view\',\'' + ${data.advertisementNid} + '\')'"
							style="cursor: pointer;">
					</div>
					<h3 th:text="${data.title}"></h3>
				</div>
			</div>
		</div>
	</div>
</div>

<form id="listFrm" method="post">
<input type="hidden" id="advertisementNid" name="advertisementNid" >
</form>
</th:block>
<th:block layout:fragment="script">
<script>
function changeView(val,id){
	$("#advertisementNid").val(id);
	$("#listFrm").attr("action",val);
	$("#listFrm").submit();
}
//탭 전환 함수
function openTab(evt, tabName) {
  let i, tabcontent, tabbuttons;

  // 모든 탭 콘텐츠 숨기기
  tabcontent = document.getElementsByClassName("tab-panel");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // 모든 탭 버튼에서 'active' 클래스 제거
  tabbuttons = document.getElementsByClassName("tab-button");
  for (i = 0; i < tabbuttons.length; i++) {
    tabbuttons[i].classList.remove("active");
  }

  // 선택된 탭 콘텐츠 보이기 및 해당 버튼에 'active' 클래스 추가
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.classList.add("active");
}
</script>
</th:block>