<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/web_layout}">
<th:block layout:fragment="content">
  <!-- 상품 제목 -->
  <div style="background: #eee; padding: 1rem; border-radius: 6px;">
	  <h2 style="margin: 0 0 0.5rem 0; font-size: 0.9rem;font-weight:700!important" th:text="${data.title}"></h2>

	  <!-- 작성자, 작성일 -->
	  <!-- <div style="font-size: 0.85rem; color: #555; display: flex; gap: 1rem;">
	    <span><strong>작성자:</strong> 홍길동</span>
	    <span><strong>작성일:</strong> 2025-05-17</span>
	  </div> -->
  </div>

	<div class="d-flex justify-content-end my-2">
	  <a href="/web/permit/advertisement/list?webSearchSido=서울특별시,인천광역시,경기도" class="btn btn-outline-secondary btn-sm">목록으로</a>
	</div>

  <!-- 상품 내용 -->
  <div style="text-align: center; padding: 0 0;" th:utext="${data.contentTop}">
  </div>

  <!-- 오른쪽 플로팅 버튼 -->
  <div style="
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
  ">
    <a th:href="'tel:' + ${data.kakaoOpenChatUrl}" target="_blank" th:unless="${#strings.isEmpty(data.kakaoOpenChatUrl)}"
       style="width: 50px; height: 50px; border-radius: 50%; background: #fae100; display: flex; align-items: center; justify-content: center; text-decoration: none; color: black; font-size: 22px; font-weight: bold;">
      K
    </a>
    <a th:href="'tel:' + ${data.storePhoneNumber1}" th:unless="${#strings.isEmpty(data.storePhoneNumber1)}"
       style="width: 50px; height: 50px; border-radius: 50%; background: #28a745; display: flex; align-items: center; justify-content: center; text-decoration: none; color: white; font-size: 22px;">
      📞
    </a>
    <a href="https://line.me/ti/p/yourlineid" target="_blank" th:unless="${#strings.isEmpty(data.lineOpenChatUrl)}"
     style="width: 50px; height: 50px; border-radius: 50%; background: #00c300;
     display: flex; align-items: center; justify-content: center;
     text-decoration: none; color: white; font-size: 18px; font-weight: bold;">
    LINE
  </a>
  </div>
</th:block>