<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<th:block th:fragment="adminSidebar">
<script>
function boardList(board_gubun,title){
	$("#boardTitle").val(title);
	$("#boardGubun").val(board_gubun);
	$("#menuForm").submit();
}
</script>
<form id="menuForm" method="post" action="/admin/board/list">
<input type="hidden" name="boardGubun" id="boardGubun"/>
<input type="hidden" name="boardTitle" id="boardTitle"/>
</form>
<nav class="sidebar left-menu" id="sidebar">
      <h4 class="text-center">관리 메뉴</h4>
      <a href="/admin/user/list">회원관리</a>
      <ul>
          <li><a href="/user/list" >회원관리</a></li>
          <li><a href="/user/registerForm" >회원가입</a></li>
          <li><a href="/logout" >로그아웃</a></li>
      </ul>
      <a href="/admin/partner/list">업체등록</a>
      <a href="/admin/advertisement/list" >업체광고</a>
      <a href="#">커뮤니티 관리</a>
	      <ul>
	          <li><a href="#" onclick="boardList('notice','공지사항')">공지사항</a></li>
	          <li><a href="#" onclick="boardList('free','자유게시판')">자유게시판</a></li>
	          <li><a href="#" onclick="boardList('attend-check','출석체크')">출석체크</a></li>
	          <li><a href="#" onclick="boardList('qna','질문&답변')">질문&답변</a></li>
	          <li><a href="#" onclick="boardList('review','이용후기')">이용후기</a></li>
	          <li><a href="#" onclick="boardList('manager','관리사이야기')">관리사이야기</a></li>
	      </ul>
	    <a href="#">고객센터</a>
	      <ul>
	          <li><a href="#" onclick="boardList('faq','자주묻는 질문')">자주묻는 질문</a></li>
	          <li><a href="#" onclick="boardList('proposal','건의 및 문의')">건의 및 문의</a></li>
	          <li><a href="#">제휴신청</a></li>
	      </ul>
	      <a href="#">구인&구직</a>
	      <ul>
	          <li><a href="#" onclick="boardList('job-offer')">구인</a></li>
	          <li><a href="#" onclick="boardList('job-search')">구직</a></li>
	      </ul>
      <a href="#" onclick="closeSidebar(); return false;">닫기</a>
    </nav>

    <div class="overlay" id="overlay" onclick="closeSidebar()"></div>

    <div class="content w-100">
      <button class="toggle-btn" onclick="toggleSidebar()">☰ 메뉴</button>
</th:block>