<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/admin_layout}">

<th:block layout:fragment="script">
<script>
$(document).ready(function() {
	partner();
	sido();
	$("#partner").val("[[${param.searchPartner}]]");
	$("#sido").val("[[${param.searchSido}]]");
});
function changeView(val,id){
	$("#advertisementNid").val(id);
	$("#searchFrm").attr("action",val);
	$("#searchFrm").submit();
}
function goList(page){
	$("#page").val(page);
	$("#searchFrm").submit();
}
</script>
</th:block>
<th:block layout:fragment="content">
	<div class="card-header">
		<span>
		<th:block th:if="${param.adType.contains('N')}">
		광고관리
		</th:block>
		<th:block th:if="${param.adType.contains('E')}">
		이벤트관리
		</th:block>
		</span>
	</div>
	<form id="searchFrm" method="post" action="list" class="mt-4 mb-3">
		<input type="hidden" name="page" id="page" th:value="${param.page}" />
		<input type="hidden" name="advertisementNid" id="advertisementNid" />
		<input type="hidden" name="adType" id="adType" th:value="${param.adType}"/>

		<div
			class="d-flex flex-wrap justify-content-between align-items-center">
			<div class="d-flex flex-wrap gap-2 align-items-center">
				<label>제목</label> <input type="text" name="searchTitle"
					th:value="${param.searchTitle}" class="form-select form-select-sm"
					style="width: 120px;"> <label>업체명:</label> <select
					id="partner" name="searchPartner">
					<option value="">선택</option>
				</select> <label>지역:</label> <select id="sido" name="searchSido">
					<option value="">선택</option>
				</select>
				<button type="submit" class="btn btn-sm btn-outline-secondary">검색</button>
			</div>
			<button class="btn btn-primary btn-sm" onclick="changeView('saveForm')">
			<th:block th:if="${param.adType.contains('N')}">광고등록</th:block>
			<th:block th:if="${param.adType.contains('E')}">이벤트등록</th:block>
			</button>
		</div>

	</form>
	<table class="table table-hover mt-2">
		<colgroup>
			<col width="5%">
			<col width="50%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
		</colgroup>
		<thead class="table-dark">
			<tr>
				<th style="text-align: center;">No</th>
				<th style="text-align: center;">제목</th>
				<th style="text-align: center;">업체명</th>
				<th style="text-align: center;">가입일</th>
				<th style="text-align: center;">체휴기간</th>
				<th style="text-align: center;">체휴만료일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="data,stat : ${list}">
				<td th:text="${stat.index+ (page.offset+1)}"
					style="text-align: center;"></td>
				<td style="text-align: left;"><a href="#" th:text="${data.title}"
					th:onclick="'changeView(\'view\',\'' + ${data.advertisementNid} + '\')'">첫
						번째 게시글</a></td>
				<td th:text="${data.partnerName}" style="text-align: center;">업체명</td>
				<td th:text="${data.regDtm}" style="text-align: center;"></td>
				<td th:text="${data.licenseDay}" style="text-align: center;">체휴기간</td>
				<td th:text="${data.licenseDueDate}" style="text-align: center;"></td>
			</tr>
			<tr th:if="${#lists.isEmpty(list)}">
				<td colspan="6" class="text-center">데이터가 없습니다.</td>
			</tr>
		</tbody>
	</table>


	<nav class="d-flex justify-content-center mt-3">
		<ul class="pagination pagination-sm">
			<li class="page-item disabled" th:if="${page.hasPrevBlock}"><a
				class="page-link" href="#"
				th:onclick="'goList(\'' + ${page.startBlock - 1} + '\')'">이전</a></li>
			<th:block th:if="${page.endBlock>0}">
				<li class="page-item "
					th:each="i : ${#numbers.sequence(page.startBlock, page.endBlock)}"
					th:classappend="${i == page.page} ? 'active'"><a
					class="page-link" href="#" th:onclick="'goList(\'' + ${i} + '\')'"
					th:text="${i}">1</a></li>
			</th:block>
			<li class="page-item" th:if="${page.hasNextBlock}"><a
				class="page-link" href="#"
				th:onclick="'goList(\'' + ${page.endBlock + 1} + '\')'">다음</a></li>
		</ul>
	</nav>
</th:block>