<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/admin_layout}">

<th:block layout:fragment="css">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="script">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
<script>
$(document).ready(function() {
	sido();
	partner();
    $('#summernote').summernote({
    	height:150
    });
	$("#regDtm").datepicker({
        dateFormat: "yy-mm-dd", // 날짜 포맷 (선택 사항)
        changeMonth: true,     // 월 변경 가능
        changeYear: true,      // 년도 변경 가능
        dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"], // 요일 이름 (축약형)
        monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"], // 월 이름 (축약형)
        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"], // 월 이름 (전체)
    	firstDay: 0,
    	showMonthAfterYear: false,
    	yearSuffix: "년",
    	showMonthAfterYear: false,
    	yearSuffix: "년",
      });

	let seq = "[[${data.advertisementNid}]]";
	if(seq > 0){
		$("#partner").val("[[${data.partnerSeq}]]");
		$("#sido").val("[[${data.sido}]]");
		$("#advertisementGubun").val("[[${data.advertisementGubun}]]");
	}

	$('#frm').on('submit', function (e) {
	    e.preventDefault();

	    const form = document.getElementById('frm');
	    const formData = new FormData(form);
	    $.ajax({
            url: "/admin/advertisement/save",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                alert("저장 성공!");
                changeView("list");
            },
            error: function(response) {
                alert(response.responseText);
            }
        });

	});
});
function changeView(val){
	$("#dataForm").attr("action",val);
	$("#dataForm").submit();
}
</script>
</th:block>
<th:block layout:fragment="content">
<form id="dataForm">
<input type="hidden" name="page" th:value="${param.page}">
<input type="hidden" name="searchTitle" th:value="${param.searchTitle}">
<input type="hidden" name="searchPartner" th:value="${param.searchPartner}">
<input type="hidden" name="searchSido" th:value="${param.searchSido}">
<input type="hidden" name="adType" id="adType" th:value="${param.adType}"/>
</form>
<form id="frm" enctype="multipart/form-data">
<input type="hidden" name="advertisementNid" th:value="${data.advertisementNid}">
<input type="hidden" name="storePicUuid" th:value="${data.storePicUuid}">
<input type="hidden" name="page" th:value="${param.page}">
<input type="hidden" name="searchTitle" th:value="${param.searchTitle}">
<input type="hidden" name="searchPartner" th:value="${param.searchPartner}">
<input type="hidden" name="searchSido" th:value="${param.searchSido}">
<input type="hidden" name="adType" id="adType" th:value="${param.adType}"/>
 <div id="view-write" >
   <div class="card">
     <div class="card-header">업체광고 작성</div>
     <div class="card-body">
     	<div class="row g-2"> <!-- g-2: 간격 줄이기 -->
         <div class="mb-3">
           <label for="title" class="form-label">제목</label>
           <input type="text" class="form-control" name="title" th:value="${data.title}" required>
         </div>
         <div class="mb-3">
           <label class="form-label">광고구분</label>
             <select name="advertisementGubun" id="advertisementGubun" class="form-control">
             	<option value="message">여성전용마사지</option>
             	<option value="hoppa">호빠</option>
             	<option value="waxing">왁싱</option>
             </select>
         </div>
         <div class="col-md-6">
           <label class="form-label">가게 이미지파일</label>
           <input type="file" class="form-control" name="stFileInput" id="stFileInput">
           <span th:if="${data.stOrgFileName != null and #strings.trim(data.stOrgFileName).length() > 0}">
           		<a th:href="@{${data.stImgPath}}" th:text="${data.stOrgFileName}" download ></a>
           		<button type="button">삭제</button>
			</span>
         </div>
         <div class="col-md-6">
           <label class="form-label">가게명</label>
           <input type="text" class="form-control" name="storeName" id="storeName" style="width:150px;" th:value="${data.storeName}" >
         </div>
         <div class="col-md-6">
           <label class="form-label">제휴일</label>
           <input type="text" class="form-control" name="regDtm" id="regDtm" style="width:150px;" th:value="${data.regDtm}" readonly>
         </div>
         <div class="col-md-6">
           <label class="form-label">제휴기간</label>
           <input type="text" class="form-control" name="licenseDay" style="width:150px;" th:value="${data.licenseDay}">
         </div>
         <div class="col-md-6">
           <label class="form-label">카카오오픈챙팅주소</label>
           <input type="text" class="form-control" name="kakaoOpenChatUrl" id="kakaoOpenChatUrl" style="width:300px;" th:value="${data.kakaoOpenChatUrl}">
         </div>
         <div class="col-md-6">
           <label class="form-label">라인오픈챙팅주소</label>
           <input type="text" class="form-control" name="lineOpenChatUrl" id="lineOpenChatUrl" style="width:300px;" th:value="${data.kakaoOpenChatUrl}">
         </div>
         <div class="col-md-6">
           <label class="form-label">가게 전화번호1</label>
           <input type="text" class="form-control" name="storePhoneNumber1" style="width:150px;" th:value="${data.storePhoneNumber1}">
         </div>
         <div class="col-md-6">
           <label class="form-label">카카오 아이디</label>
           <input type="text" class="form-control" name="kakaoId" id="kakaoId" style="width:300px;" th:value="${data.storePhoneNumber2}">
         </div>
         <div class="col-md-6">
           <label class="form-label">라인 아이디</label>
           <input type="text" class="form-control" name="lineId" id="lineId" style="width:150px;" th:value="${data.storePhoneNumber3}">
         </div>
         <div class="col-md-6">
           <label class="form-label">파트너선택</label>
             <select name="partnerSeq" id="partner" class="form-control">
             </select>
         </div>
         <div class="col-md-6">
           <label class="form-label">지역</label>
             <select id="sido" name="sido" class="form-control" required="required">
				<option value="">선택</option>
             </select>
         </div>
         <div class="mb-3">
           <label for="content" class="form-label">내용</label>
           <textarea class="form-control" id="summernote" name="contentTop" th:text="${data.contentTop}"></textarea>
         </div>
         </div>
         <div class="mt-3 text-end">
	         <button type="submit" class="btn btn-primary">저장</button>
	         <button type="button" class="btn btn-secondary" onclick="changeView('list')">취소</button>
         </div>
     </div>
   </div>
 </div>
 </form>
</th:block>