<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/admin_layout}">

<th:block layout:fragment="script">
<script>
function changeView(val){
	$("#dataForm").attr("action",val);
	$("#dataForm").submit();
}
</script>
</th:block>
<th:block layout:fragment="content">
<form id="dataForm" method="post">
<input type="hidden" name="page" th:value="${param.page}">
<input type="hidden" name="advertisementNid" th:value="${param.advertisementNid}">
<input type="hidden" name="searchTitle" th:value="${param.searchTitle}">
<input type="hidden" name="searchPartner" th:value="${param.searchPartner}">
<input type="hidden" name="searchSido" th:value="${param.searchSido}">
<input type="hidden" name="adType" id="adType" th:value="${param.adType}"/>
</form>
 <div id="board-view" >
   <div class="card">
     <div class="card-header">광고 보기</div>
     <div class="text-end" >
     	<button type="button" class="btn btn-primary" onclick="changeView('updateForm')">수정</button>
        <button type="button" class="btn btn-secondary" onclick="changeView('list')">돌아가기</button>
       </div>
     <table class="table table-bordered">
         <tr>
           <th><label for="title" class="label">제목</label></th>
           <td colspan="3" th:text="${data.title}" class="data"></td>
         </tr>
         <tr>
           <th><label class="label">가게이미지</label></th>
           <td colspan="3" th:if="${data.stOrgFileName != null and #strings.trim(data.stOrgFileName).length() > 0}">
	           	<img th:if="${data.stFilePath != null}" th:src="@{${data.stImgPath}}"/>
	           	<br><a th:if="${data.stFilePath != null}" th:href="@{${data.stImgPath}}" th:text="${data.stOrgFileName}" download ></a>
				<button type="button">삭제</button>
			</td>
         </tr>
         <tr>
         	<th><label class="label">가입일</label>
           	<td th:text="${data.regDtm}" ></td>
           	<th>
           		<label class="label">제휴기간(일)</label>
           	</th>
           <td th:text="${data.licenseDay}"></td>
         </tr>
         <tr><th>
           <label class="label">카카오오픈챙팅주소</label></th>
           <td th:text="${data.kakaoOpenChatUrl}"></td>
           <th>
           <label class="label">가게 전화번호1</label></th>
           <td th:text="${data.storePhoneNumber1}"></td>
         </tr><tr><th>
           <label class="label">가게 전화번호2</label></th>
           <td th:text="${data.storePhoneNumber2}"></td>
           <th>
           <label class="label">가게 전화번호3</label></th>
           <td th:text="${data.storePhoneNumber3}"></td>
         </tr><tr><th>
           <label class="label">제휴만료일</label></th>
           <td th:text="${data.licenseDueDate}"></td>
         <th>
           <label class="label">파트너</label></th>
           <td th:text="${data.partnerName}"></td>
         </tr>
         <tr>
         	<th><label class="label">가게명</label></th>
           	<td th:text="${data.storeName}"></td>
         	<th>
           	<label class="label">지역</label></th>
           	<td colspan="3" th:text="${data.sido}"></td>
         </tr>
         <tr>
         	<th>
           <label for="content" class="label">내용</label></th>
           <td colspan="3" th:utext="${data.contentTop ?: ''}"></td>
         </tr>
         </table>
   </div>
 </div>
</th:block>