<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/admin_layout}">

<th:block layout:fragment="css">
<style>
   form {
            margin-bottom: 20px;
        }
        .search-group {
            margin-right: 10px;
            display: inline-block;
        }
</style>
</th:block>
<th:block layout:fragment="script">
<script>
$(document).ready(function() {
	$("#searchNickname").val("[[${param.searchNickname}]]");
});
function changeView(val,id){
	$("#userSeq").val(id);
	$("#searchFrm").attr("action",val);
	$("#searchFrm").submit();
}
function goList(page){
	$("#page").val(page);
	$("#searchFrm").submit();
}
</script>
</th:block>
<th:block layout:fragment="content">
	<div class="card-header">
		<span>회원관리</span>
	</div>
	<form id="searchFrm" method="post" action="list" class="mt-4 mb-3">
		<input type="hidden" name="page" id="page" th:value="${param.page}" />

		<div
			class="d-flex flex-wrap justify-content-between align-items-center">
			<div class="d-flex flex-wrap gap-2 align-items-center">
				회원명 <input type="text" class="form-control form-control-sm"
					placeholder="검색어 입력" style="width: 200px;" name="searchNickname"
					id="searchNickname" th:value="${param.searchNickname}">
				<button class="btn btn-sm btn-outline-secondary" type="submit">검색</button>
			</div>
		</div>

	</form>
	<table class="table table-bordered table-hover">
		<thead class="table-dark">
			<tr>
				<th style="text-align: center;">No</th>
				<th style="text-align: center;">닉네임</th>
				<th style="text-align: center;">권한</th>
				<th style="text-align: center;">가입일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="data,stat : ${list}">
				<td th:text="${stat.index+ (page.offset+1)}"
					style="text-align: center;"></td>
				<td th:text="${data.nickname}" style="text-align: center;"></td>
				<td th:text="${data.roleName}" style="text-align: center;"></td>
				<td th:text="${data.createDtm}" style="text-align: center;"></td>
			</tr>
			<tr th:if="${#lists.isEmpty(list)}">
				<td colspan="6" class="text-center">데이터가 없습니다.</td>
			</tr>
		</tbody>
	</table>

	<!-- 페이지네이션 (디자인 전용) -->
	<nav class="d-flex justify-content-center mt-3">
		<ul class="pagination pagination-sm">
			<li class="page-item disabled" th:if="${page.hasPrevBlock}"><a
				class="page-link" href="#"
				th:onclick="'goList(\'' + ${page.startBlock - 1} + '\')'">이전</a></li>
			<th:block th:if="${page.endBlock>0}">
				<li class="page-item "
					th:each="i : ${#numbers.sequence(page.startBlock, page.endBlock)}"
					th:classappend="${i == page.page} ? 'active'"><a
					class="page-link" href="#" th:onclick="'goList(\'' + ${i} + '\')'"
					th:text="${i}">1</a></li>
			</th:block>
			<li class="page-item" th:if="${page.hasNextBlock}"><a
				class="page-link" href="#"
				th:onclick="'goList(\'' + ${page.endBlock + 1} + '\')'">다음</a></li>
		</ul>
	</nav>
</th:block>